@charset "UTF-8";
body, section, table, td{
    margin: 0px;
    padding: 0px;
    border: none;
}
body{
    font: 15pt normal Arial;
}
section{
    width: 100%;
    text-align: center;
}
/*------------------------------------------------TABLE*/
table{
    border: 1px solid rgb(255, 255, 255);
    margin: 0px auto;
}
table caption{
    font-weight: bold;
    font-size: 25pt;
}
table tr td{
    width: 240px;
    height: 25pt;
    line-height: 25pt;
    text-align: left;
    padding: 0px 15px;
}
table tr td.class_1{
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
}
table tr td.class_2{
    background-color: rgb(206, 206, 206);
}